*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cabecalho {
    margin-top: 30px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 10px 20px; 
    gap: 30px;
}

#foto-perfil img {
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
}

#mensagem {
    background-color: #F7F7F7;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 8px; 
    display: flex; 
    justify-content: flex-start; 
    width: 350px;
}

.mensagem p{
    color: #191919;
}


#botao-adicionar-publicacao img {
    margin-top: 5px;
    width: 32px; 
    cursor: pointer;
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0; 
}

.linha {
    margin-top: 10px;
    height: 1px;
    background-color: #DBDBDB;
    flex-grow: 0.8; 
}
