*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cabecalho {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 10px;    
}

#foto-perfil img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
}

#mensagem {
    background-color: #F7F7F7;
    font-size: 10px;
    padding: 7px 13px;
    border-radius: 8px; 
    display: flex; 
    justify-content: flex-start; 
    width: 330px;
}

.mensagem p{
    color: #191919;
}


#botao-sair img {
    margin-top: 5px;
    width: 18px; 
    cursor: pointer;
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0; 
    margin-bottom: 5px;
}

.linha {
    margin-top: 8px;
    height: 1px;
    background-color: #DBDBDB;
    flex-grow: 0.9; 
}

.post {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    padding: 15px;
  }
  
  .cabecalho_post {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .info .username {
    font-weight: bold;
    margin: 0;
    font-size: 12px;
  }
  
  .info .local {
    font-size: 10px;
    color: #616161;
    margin: 0;
  }
  
  .imagem-post {
    width: 360px;
    height: 320px;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  

  .descricao{
    font-size: 10px;
    color: #191919;
    margin-left: 8px;
    margin-bottom: 10px;
  }
  
  .acoes {
    display: flex;
    gap: 10px;
    padding: 0 8px;
  }
  
  .icone {
    cursor: pointer;
  }

  .heart{
    width: 20px;
    height: 20px;
  }

  .chat{
    margin-top: -2px;
    width: 24px;
    height: 24px;
  }

  .divisor_post {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0; 
    margin-bottom: 5px;
}

.linha_post {
    margin-top: 8px;
    height: 1px;
    background-color: #DBDBDB;
    flex-grow: 1; 
}


.comentarios {
  margin-left: 10px;
  font-family: "Poppins", sans-serif;  
  font-size: 10px;                   
  margin-top: 8px;                      
  padding-left: 4px;                    
}


.comentarios p {
  margin: 2px 0;                        
}

.comentarios {
  font-size: 10px;                  
  color: #333;                          
}
